@font-face{
  font-family: "KreepTown";
  src: url("../assets/KreepTown.otf");
}

@font-face{
  font-family: "Nightmare Pills";
  src: url("../assets/nightmarepills.ttf");
}

@font-face{
  font-family: "Spooky Light";
  src: url("../assets/SpookyLight.ttf");
}

*{
  color: orange;
  font-family: "KreepTown";
}

h1{
  text-align: center;
  font-family: "Nightmare Pills";
}

th{
  font-family: "Spooky Light";
}

.title img{
  display: none;
}

.title:hover img{
  display: block;
  position: absolute;
}

#searchBar{
  font-size: 14px;
}

.darkButton{
  background-color: rgb(100, 99, 99);
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 13px;
  transition-duration: 0.4s;
}

.darkButton:hover {
  background-color: white;
  cursor: pointer;
}

.clickedSearchOption{
  background-color: white;
}

#orangeButton {
  background-color: rgb(216, 145, 12);
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  transition-duration: 0.4s;
}

#orangeButton:hover {
  background-color: white;
  color: orange;
  cursor: pointer;
}

.icon:hover {
  cursor: pointer;
}

.FormInput {
  font-family: 'Times New Roman';
  font-size: 15px;
  color: black;
}

#logInButton {
  position: absolute;
  top: 5%;
  right: 5%;
}

.searchResult {
  color: white;
}