@font-face{
  font-family: "KreepTown";
  src: url("./assets/KreepTown.otf");
}

@font-face{
  font-family: "Nightmare Pills";
  src: url("./assets/nightmarepills.ttf");
}

@font-face{
  font-family: "Spooky Light";
  src: url("./assets/SpookyLight.ttf");
}

*{
  color: orange;
  font-family: "KreepTown";
}

h1{
  text-align: center;
  font-family: "Nightmare Pills";
}

th{
  font-family: "Spooky Light";
}

.title img{
  display: none;
}

.title:hover img{
  display: block;
}

#searchBar{
  font-size: 14px;
}

.searchOption{
  background-color: rgb(100, 99, 99);
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 13px;
  transition-duration: 0.4s;
}

.searchOption:hover {
  background-color: white;
  cursor: pointer;
}

.clickedSearchOption{
  background-color: white;
}

#addMovieButton {
  background-color: rgb(216, 145, 12);
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  transition-duration: 0.4s;
}

#addMovieButton:hover {
  background-color: white;
  color: orange;
  cursor: pointer;
}